@import url('https://fonts.googleapis.com/css2?family=Comforter Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

body {
	background-color: #222;
	color: #FFFFFF;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

.title {
	font-size: 102px;
	font-weight: bold;
	text-align: center;
	font-family: 'Comforter Brush', cursive;
	margin-bottom: 25px;
}

#user-input {
	width: 600px;
	margin: 10px auto;
}

#user-input input {
	width: 100%;
	margin: 10px;
}


#content {
	width: 600px;
  	margin: 10px auto;
  	font-size: 1.2em;
	font-family: 'Caveat', cursive;
}

.illustration-container {
	margin: 20px;
	text-align: justify;
}

.illustration {
	width: 512px;
	height: 512px;
	margin: 0;
	border-radius: 25px;
	/* drop shadow */
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
	animation: fadeIn ease 3s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.illustration-bkg {
	width: 512px;
	height: 512px;
	background-color: #000;
	margin: 20px auto 0;
	border-radius: 25px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
	background-size: 250% 150%;
	background-image: url(/static/images/loading-book.gif);
	background-position: top -100px right -380px;
	background-repeat: no-repeat;
}

.scene {
	margin: 20px;
	text-align: justify;
}

.caption {
	font-style: italic;
	text-align: center;
	margin: 5px auto 20px;
	width: 512px;
}

#debug {
	position: fixed;
	bottom: 0;
}
