<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spellbook</title>
    <link rel="stylesheet" href="/static/spellbook.css">
	<script src="/static/spellbook.js"></script>
  </head>
  <body onload="main()">
	<h1 class="title">Spellbook</h1>
	<div id="content"></div>
	<div id="user-input">
		<input type="text" id="input" placeholder="What do you want to do?">
	</div>
  </body>
</html>
